body {
  color: #333;
  font-family: Arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  color: #888888;
  border-top: 2px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
}

header a {
  color: #888888;
  margin-right: 1px;
  text-decoration: none;
}

img {
  width: 400px;
}

.main {
  flex-grow: 1;
}
